<landmark></landmark>
<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px 0;
    justify-items: center;  
    align-items: center; 
">
    <h1 style=
        "color:rgb(255,221,47); 
        font-size: 50px; 
        text-shadow: 2px 2px rgb(0, 0, 0, 0.1);">
        LÍNEA DE DENUNCIA
    </h1>
    <button 
        type="button" 
        class="btn btn-lg"
        style="width: 20%; margin: 10px"
        (click)="clickButton('rr1')">
        Registro de denuncia
    </button>
    <button 
        type="button" 
        class="btn btn-lg"
        style="width: 20%;"
        (click)="clickButton('rf1')">
        Seguimiento de denuncia
    </button>
</div>